@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin wrapper($height: 24px, $width: 8px, $bottom: 16px) {
	padding: $height $width;
	padding-bottom: $bottom;
}

/* colors */
$f: #fff;
$x0: #000;
$c: #ccc;
$f2: #f2f2f2;
$x3: #333;
$x6: #666;
$x16: #161616;
$link: #0090c9;
$hover: #007db3;
$s0: #00897e;
$s1: #33997c;


body {
	color: $x16;
	background-color: $f;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

h2 {
	color: $x16;
	font-size: 1.7em;
	margin-top: 10px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: -18px;
	margin-top: 0px;
	padding-top: 24px;
}

h4 {
	color: $s0;
	font-size: 24px;
	margin-top: 0px;
	padding-top: 24px;
}

:focus {outline:none;}


.header {
	margin-top: 55px;
	background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),
  url('../images/microcontroller.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  padding-top:20%;
  padding-bottom:20%;
	color: $f;

	.header-text {
		h1 {
			text-transform: uppercase;
			font-size: 1.2em;
			margin: 0 20px;
		}
	}

	@media screen and (min-width: 768px) {
		.header-text {
			h1 {
				text-transform: uppercase;
				font-size: 1.8em;
				margin: 0 12%;
			}
		}
	}

	@media screen and (min-width: 1200px) {
		.header-text {
			h1 {
				text-transform: uppercase;
				font-size: 2.2em;
				margin: 0 12%;
			}
		}
	}
}


.welcome-wrapper {
	@include wrapper($height: 0px, $width: 0px, $bottom: 4px);

	.welcome {
		@include wrapper($height: 10px);

		p {
			font-size: 20px;
		}

		h3 {
			padding-bottom: 3%;
		}

		&:nth-child(2) {
			color: $f;
		  background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
		  url('../images/wires.jpg') no-repeat center center;
			background-size: cover;
	  }

	  &:nth-child(3) {
		  background-color: $f2;
	  }
  }

  @media screen and (min-width: 400px) {
		.welcome {
			@include wrapper($height: 10px, $width: 16px);
		}
	}

	@media screen and (min-width: 580px) {
		.welcome {
			@include wrapper($height: 5%, $width: 16%, $bottom: 5%);
		}

		p {
			font-size: 24px;
		}

		h3 {
			font-size: 30px;
			padding-bottom: 10px;
		}
	}

	@media screen and (min-width: 1200px) {
		.welcome {

			p {
				&:nth-child(1) {
					font-size: 28px;
				} 
			}

			h3 {
				font-size: 32px;
				padding-bottom: 12px;
			}
		}
	}
}


.service-wrapper {
	@include wrapper($height: 16px);
	overflow: hidden;
	background-image:
    linear-gradient(
      to top,
      $f2,
      $f 10%
    );

   p {
		font-size: 18px;
		padding: 8px;
		padding-bottom: 16px;
	}

	h2 {
		margin-bottom: -2%;
	}

	h4 {
		margin-bottom: 0px;
	}

	.service {
		@include wrapper();

		img {
			width: 150px;
			height: 150px;
		}
	
		p {
			font-size: 18px;
			color: $x6;
		}
	}

	@media screen and (min-width: 464px) {
		.service {
			@include wrapper($width: 16%);
		}
		
		h2 {
			margin-bottom: 0px;
		}	
	}

	@media screen and (min-width: 580px) {
		p {
			padding-left: 16%;
			padding-right: 16%;
		}

		h2 {
			padding-top: 4%;
			font-size: 30px;
		}

		h4 {
			margin-bottom: 5%;
		}
	}

	@media screen and (min-width: 1280px) {
		h2 {
			font-size: 32px;
		}
	}

}

@media screen and (min-width: 980px) {
	.service-wrapper {
		.service {
			display: inline-block;
			vertical-align: top;
			width: 282px;
			@include wrapper($height: 4%, $bottom: 4%, $width: 1%);
		}
	}
}


.showcase {
	@include wrapper($width: 0px);
	background-color: $f;

	h2 {
		color: $x16;
	}

	p {
		font-size: 18px;
		padding: 8px;
		padding-bottom: 16px;
	}

	.image-grid {

   -webkit-column-count: 3;
   -webkit-column-gap:   4px;
   -moz-column-count:    3;
   -moz-column-gap:      4px;
   column-count:         3;
   column-gap:           4px;

		.image-container {

			img {
				width: 100%;

				-moz-transition: all 0.3s;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	@media (min-width: 1000px) {
	  .image-grid {
			-moz-column-count:    3;
			-webkit-column-count: 3;
			column-count:         3;
			
			@include wrapper($width: 10%);
	  }
	
	}
	
	@media (max-width: 800px) {
	  .image-grid {
			-moz-column-count:    2;
			-webkit-column-count: 2;
			column-count:         2;
	  }
	}
	
	@media (max-width: 400px) {
		.image-grid {
			-moz-column-count:    1;
			-webkit-column-count: 1;
			column-count:         1;
		 }
	}
	
	@media screen and (min-width: 580px) {
		@include wrapper($height: 5%, $bottom: 5%);
		
		h2 {
				font-size: 30px;
		}
		
		p {
			padding-left: 16%;
			padding-right: 16%;
		}
	}
	
	@media screen and (min-width: 1200px) {
		h2 {
				font-size: 32px;
		}
	}
}


.contact {
	@include wrapper($bottom: 24px);
	background-color: $f2;
	overflow: hidden;

	h2 {
		color: $x16;
	}

	.contact-person {
		p {
			font-size: 1.2em;
			margin-bottom: 4px;
		}

		span {
			font-size: 1.5em;
		}
		@include wrapper($height: 0px, $width: 0px, $bottom: 32px);
	}

	.contact-data {

		.contact-data-item {
			@include wrapper($height: 0px, $width: 40px);
			text-align: left;

			i {
				color: $s0;
				float: left;
				font-size: 1.5em;
				margin-right: 20px;
				padding-top: 8px;
			}
			span {
				display: block;
				&:nth-child(2) {
					text-transform: uppercase;
					padding-bottom: 4px;
				}

				&:nth-child(3) {
					color: $x3;
				}
			}

			a {
				text-decoration: none;
				color: $s0;
				&:hover {
					color: $s1;
				}
			}
		}

		@media screen and (min-width: 400px) {
			.contact-data-item {
				@include wrapper($height: 0px, $width: 20%);
			}
		}
	}
		
	@media screen and (min-width: 580px) {
		@include wrapper($height: 5%, $bottom: 5%);
		
		h2 {
			font-size: 30px;
		}
	}

	@media screen and (min-width: 768px) {
		.contact-data {
			width: 220px;
			display: inline-block;
			.contact-data-item {
				@include wrapper($height: 10px, $width: 20px, $bottom: 16%);
			}
		}
	}

	@media screen and (min-width: 1200px) {
		h2 {
			font-size: 32px;
		}
	}
}


.footer {
	padding-top: 16px;
	padding-bottom: 4px;

	div img {
		width: 100px;
		height: auto;
		padding-bottom: 20px;
	}

	span {
		font-size: 0.8em;
		color: $x6;
	}

	@media screen and (min-width: 580px) {
		padding-top: 32px;
		
		div img {
			width: 120px;
			height: auto;
			padding-bottom: 20px;
		}
	}
}