@import url('https://fonts.googleapis.com/css?family=Lato');

/* colors */
$f: #fff;
$x0: #000;
$c: #ccc;
$f2: #f2f2f2;
$x3: #333;
$x16: #161616;
$link: #0090c9;
$hover: #007db3;
$s0: #00897e;


body {
	color: $x16;
	background-color: $f;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

h2 {
	color: $s0;
	font-size: 1.7em;
	margin-top: 10px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: -18px;
	margin-top: 0px;
	padding-top: 24px;
}

:focus {outline:none;}

.header {
	background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),
  url('../images/microcontroller.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  padding-top:20%;
  padding-bottom:20%;
	color: $f;

	.header-text {
		h1 {
			text-transform: uppercase;
			font-size: 1.2em;
			margin: 0 20px;
		}
	}
}

.welcome {

	p {
		font-size: 1.4em;
		margin: 0px;
		padding: 30px 6px;
	}

	&:nth-child(3) {
		color: $f;
		background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
		url('../images/welcome.jpg') no-repeat center center;
		background-size: cover;
		width: 100%;
		padding-top:8px;
		padding-bottom:4px;
	}

	&:nth-child(4) {
		background-color: $f2;
	}
}

.service {
	padding: 16px 16px;
	padding-top: 32px;

	img {
		width: 150px;
		height: 150px;
	}

	p {
		font-size: 1.1em;
	}
}

.contact {
	background-color: $f2;
	padding: 16px 16px;

	h2 {
		margin-top: 0px;
	}
}

.footer {
	padding-top: 16px;
	padding-bottom: 4px;

	div img {
		width: 100px;
		height: auto;
		padding-bottom: 20px;
	}

	span {
		font-size: 0.8em;
	}
}